{% extends 'fourth_task/menu.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
{% block pagename %}<h1>Игры</h1>{% endblock %}
{% block menu %}
     {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Список игр</h1>
    <ul>
        {% for game in games %}
            <li>
                {{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }}
                <button>Купить</button>
            </li>
        {% empty %}
            <li>Нет доступных игр.</li>
        {% endfor %}
    </ul>

    <a href='/'><button>Вернуться обратно</button></a>
{% endblock %}

</body>
</html>