<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>

    {% if info.error %}
        <div class="error">{{ info.error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for='username'>Введите логин:</label>
        <input type="text", id="username", name="username", maxlength="30" required>

        <label for='password'>Введите пароль:</label>
        <input type="text", id="password", name="password", minlength="8" required>

        <label for="repeat_password">Повторите пароль:</label>
        <input type="text", id="repeat_password", name="repeat_password", minlength="8" required>

        <label for='age'>Введите свой возраст:</label>
        <input type="int", id="age", name="age", maxvalue="3" required>

        <button type="submit">Зарегистрироваться</button>
    </form>

</body>
</html>